venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.dSYM
experiments/*/*/results
.vscode/
logs/
out/
*/*.out
*/*.log
*/*/*.gcov
*/*/*.gcda
*/*/*.gcno
*/*/*.o
coverage.csv
.DS_Store
validate_brackets_plain
code_example/bin/validate_brackets_plain
.instrument_info
test_asan
frida_hooks.js
frida_hooks.js.symbols.txt
frida_trace_map.json
